.blueButton{
	-fx-background-color: #2576DF;
	-fx-background-radius: 25;	
	-fx-border-radius: 25;
	-fx-border-color: white;
	-fx-border-width: 3;
	-fx-border-insets: -3;
}

.blueButton:hover {
	-fx-background-color: #6d7072;
}

.blueButton:pressed{
	-fx-background-color: #979191;	
}
	
.transparentButton {
	-fx-background-color: transparent;
}

.transparentButton:hover {
	-fx-background-color: #6d7072;
}

.transparentButton:pressed {
	-fx-background-color: #979191;
}

.redButton {
	 -fx-background-color :linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #e84d4d 0.0%, #a8a8a8 100.0%);
	 -fx-background-radius: 25;
	 -fx-border-radius: 25;
	-fx-border-color: white;
	-fx-border-width: 3;
	-fx-border-insets: -3;
}

.redButton:hover {
	-fx-background-color: #6d7072;
}

.redButton:pressed {
	-fx-background-color: #979191;
}

.transparentTextField {
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

.post {
	 -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #e84d4d 0.0%, #a8a8a8 100.0%);
}

.post:hover {
	-fx-background-color: #6d7072;
}

.post:pressed{
	-fx-background-color: #979191;	
}

.text-area {
    -fx-background-color: transparent;
    -fx-border-color: #3b93ff;
    -fx-border-radius: 25;
    -fx-border-insets: -5;
    -fx-border-width: 5;
    -fx-text-fill: white; 
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#spellCheckTextArea {
	-fx-border-radius: 25; 
	-fx-background-radius: 25; 
	-fx-border-width: 5; 
	-fx-border-insets: -5; 
	-fx-border-color: #3b93ff; 
	-fx-font-size: 21;
}

#spellCheckTextArea .text {
    -fx-fill: white;
}

#spellCheckTextArea .caret {
	-fx-stroke: white;
}

.underlined {
	/*RichTextFX Text Properties. Since these properties are from external library, they are not recognized as valid properties */
    -rtfx-underline-color: red;
    -rtfx-underline-dash-array: 2 2;
    -rtfx-underline-width: 1;
    -rtfx-underline-cap: butt;
}

